@model SNC2017.Models.Premio

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Premio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CatalogoPremio.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatalogoPremio.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Suscriptor.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Suscriptor.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaPremio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaPremio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdPremio }) |
    @Html.ActionLink("Back to List", "Index")
</p>
