@model IEnumerable<SNC2017.Models.Domicilio>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Calle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Altura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Piso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CalleLateral1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CalleLateral2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Barrio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observaciones)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Calle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Altura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Piso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CalleLateral1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CalleLateral2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Barrio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observaciones)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdDomicilio }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdDomicilio }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdDomicilio })
        </td>
    </tr>
}

</table>
