@model SNC2017.Models.Caso

@{
    ViewBag.Title = "Editar caso";
}

@Html.Hidden("getDays", Url.Action("GetOfferDays", "Suscripciones"))

<head>
    <style>
        summary .form-group {
            margin-top: 0px;
            padding-bottom: 0px;
        }

        .summaryselect {
            padding-top: 3px;
            padding-bottom: 2px;
        }

        .optioncopiardom {
            display: none;
        }

        .inputTd {
            border: none;
        }

        .ui-widget.ui-widget-content {
            width: 100% !important;
            border: none;
        }

        .ui-datepicker-group {
            border-style: ridge;
        }



        /*estilo para resaltar los  dias*/
        td.highlight {
            border: none !important;
            padding: 1px 0 1px 1px !important;
            background: none !important;
            overflow: hidden;
        }

            td.highlight a {
                background: #99dd73 url("https://pagos.diarionorte.com/Content/Images/logonorte.png") 50% 100% repeat-x !important;
                border: 1px #88a276 solid !important;
                background-size: contain !important;
            }

        .highlight a {
            background: greenyellow !important;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="~/Content/themes/base/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/themes/base/all.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/themes/base/theme.css" />
    <style src="~/Content/Suscripciones/create.css"></style>
</head>


<div class="card">
    <div class="card-header" data-background-color="green" style="display: flex">
        <h4 class="title">Caso</h4>
        <span class="category" style="margin-top: 4px;margin-left:10px">Editar</span>
    </div>



    <div class="card-content">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "editFormCasos" }))
        {
            @Html.HiddenFor(model => model.IdCaso)
            @Html.AntiForgeryToken()


            <div id="example-tabs">
                <h3>Datos Básicos</h3>
                <section class="">
                    <div>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @*inicio tabla*@
                        <table class="table table-condensed table-hover" style="width: 100%">

                            <tbody>
                                <tr>
                                    <td class="tddetails ">
                                        Fecha carga
                                    </td>
                                    <td class="text-left tddetails">
                                        @Html.DisplayFor(model => model.FechaCarga, new { htmlAttributes = new { @class = "form-control", @Value = DateTime.Now.ToString("yyyy-MM-dd"), @readonly = "readonly", @style = "width:min-content" } })
                                        @Html.ValidationMessageFor(model => model.FechaCarga, "", new { @class = "text-danger" })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left tddetails ">
                                        Suscriptor
                                    </td>
                                    <td class="text-left tddetails">
                                        @Html.DisplayFor(model => model.Suscripcion.Suscriptor.Nombre, new { htmlAttributes = new { @class = "form-control", @Value = DateTime.Now.ToString("yyyy-MM-dd"), @readonly = "readonly", @style = "width:min-content" } })
                                        @Html.DisplayFor(model => model.Suscripcion.Suscriptor.Apellido, new { htmlAttributes = new { @class = "form-control", @Value = DateTime.Now.ToString("yyyy-MM-dd"), @readonly = "readonly", @style = "width:min-content" } })
                                        <input type="number" style="display: none" id="IdSuscripcionEditCaso" value="@Model.Suscripcion.IdSuscripcion" />
                                        @Html.ValidationMessageFor(model => model.IdSuscripcion, "", new { @class = "text-danger" })

                                    </td>
                                </tr>


                                <tr>
                                    <td class="text-left tddetails ">
                                        Tipo

                                    </td>
                                    <td class="text-left tddetails">
                                        <div>
                                            <select class="js-example-basic-single" required id="" name="IdTipoCaso" style="width: 90%; margin-bottom: 7px">

                                                <option value="">Tipo caso...</option>
                                                @foreach (var item in ViewBag.IdTipoCaso)
                                                {
                                                    if (@Model.IdTipoCaso == item.IdTipoCaso)
                                                    {
                                                        <option selected="selected" value="@item.IdTipoCaso">@item.Descripcion *</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@item.IdTipoCaso">@item.Descripcion</option>
                                                    }


                                                }

                                            </select>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.IdTipoCaso, "", new { @class = "text-danger" })



                                    </td>
                                </tr>

                                <tr>
                                    <td class="text-left tddetails ">
                                        Área: asunto

                                    </td>
                                    <td class="text-left tddetails">
                                        <div>
                                            <select class="areacaso" id="" required name="IdAsuntoCaso" style="width: 90%; margin-bottom: 7px">

                                                @foreach (var area in ViewBag.IdAreaCaso)
                                                {
                                                    <optgroup label="@area.Descripcion"></optgroup>
                                                    foreach (var asunto in area.AsuntosCasos)
                                                    {
                                                        if (@Model.IdAsuntoCaso == asunto.IdAsuntoCaso)
                                                        {
                                                            <option selected="selected" value="@asunto.IdAsuntoCaso">@area.Descripcion: @asunto.Descripcion *</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@asunto.IdAsuntoCaso">@area.Descripcion: @asunto.Descripcion</option>

                                                        }
                                                    }


                                                }

                                            </select>
                                        </div>

                                        @*  @Html.ValidationMessageFor(model => model.IdAsuntoCaso, "", new { @class = "text-danger" })*@


                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left tddetails ">
                                        Descripción
                                    </td>
                                    <td class="text-left tddetails">
                                        @*<input type="text" name="Descripcion" id="Descripcion" value="@Model.Descripcion" />*@
                                        <textarea class="form-control" id="Descripcion" name="Descripcion" cols="" rows="">@Model.Descripcion</textarea>
                                        @*@Html.TextAreaFor(model => model.Descripcion, new {htmlAttributes = new {@class = "form-control"}})*@

                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-left tddetails " style="font-weight: bold">
                                        Comentarios de la modificación
                                    </td>
                                    <td class="text-left tddetails">
                                        <textarea class="form-control" id="DescripcionHistorial" name="DescripcionHistorial" cols="" rows=""> </textarea>
                                        @*@Html.TextAreaFor(model => model.Descripcion, new {htmlAttributes = new {@class = "form-control"}})*@

                                    </td>
                                </tr>

                                <tr>
                                    <td class="text-left tddetails ">
                                        Fecha Vencimiento
                                    </td>
                                    <td class="text-left tddetails">
                                        <input class="form-control" type="date" required name="FechaVencimiento" value="@Model.FechaVencimiento.Value.ToString("yyyy-MM-dd")" id="FechaVencimiento" />
                                        @Html.ValidationMessageFor(model => model.FechaVencimiento, "", new { @class = "material-input" })
                                    </td>
                                </tr>
                               

                            <tr>
                                <td class="text-left tddetails ">
                                    Estado

                                </td>

                                <td class="text-left tddetails" style="background:@Model.EstadoCaso.Color;">
                                    <select class="form-control" required id="selectestadocaso" name="IdEstadoCaso" style="width: 90%; margin-bottom: 7px">

                                        @foreach (var estado in ViewBag.IdEstadoCaso)
                                        {


                                            if (@Model.IdEstadoCaso == estado.IdEstadoCaso)
                                            {
                                                <option selected="selected" value="@estado.IdEstadoCaso">@estado.Descripcion*</option>
                                            }
                                            else
                                            {
                                                <option value="@estado.IdEstadoCaso">@estado.Descripcion</option>

                                            }



                                        }

                                    </select>
                                </td>

                            </tr>
                            <tr>
                                <td class="text-left tddetails ">
                                    Observaciones (internas)
                                </td>
                                <td class="text-left tddetails">
                                    <textarea class="form-control" placeholder="(Notas internas para personal)" id="Observaciones" name="Observacion"></textarea>
                                    @Html.ValidationMessageFor(model => model.Observacion, "", new { @class = "text-danger" })
                                </td>
                            </tr>
                            @*<tr id="trmotivocierre" hidden>
                                <td class="text-left tddetails">
                                    Motivo cierre
                                </td>
                                <td class="text-left tddetails">
                                    <select class="form-control" required id="selectmotivocierre" name="IdEstadoCaso" style="width: 90%; margin-bottom: 7px">

                                        @foreach (var motivocierre in ViewBag.MotivosCierreCaso)
                                        {
                                                <option value="@motivocierre.IdMotivoCierreCaso">@motivocierre.Descripcion</option>
                                            
                                        }

                                    </select>
                                </td>
                            </tr>*@
                            <tr id="trmotivocierre" hidden>
                                <td class="text-left tddetails ">
                                    Motivo Cierre

                                </td>

                                <td class="text-left tddetails">
                                    <select class="form-control" id="selectmotivocierre" name="IdMotivoCierreCaso" style="width: 90%; margin-bottom: 7px">

                                        @foreach (var motivocierre in ViewBag.MotivosCierreCaso)
                                        {


                                            <option value="@motivocierre.IdMotivoCierreCaso">@motivocierre.Descripcion</option>




                                        }

                                    </select>
                                </td>

                            </tr>

                        </table>
                        @*fin tabla*@
                    </div>

                </section>

                <h3>Días del caso</h3>
                <section class="col-lg-12">
                    @*<div class="form-group" style="display: flex">
                        <label for="from">Desde</label>
                        <input class="form-control" style="width: auto" id="from" onchange="validacionFechas()" type="date" value="" />

                        <label for="to">Hasta</label>
                        <input class="form-control" type="date" style="width: auto" name="FechaHasta" id="to" value="" />
                        <label>(funcionalidad de rango de fechas aún no disponible)</label>

                    </div>*@

                    <div id="datepicker"></div>
                    <table class="table table-condensed" style="width: 100%">
                        <thead class="text-primary">
                            <tr class="text-center">

                                <th class="text-left" style="width: 30%; font-weight: bold">
                                    Descripción
                                </th>

                              
                                <th></th>   
                                <th></th>   
                                <th class="text-center" style="width: 10%; font-weight: bold"></th>
                            </tr>
                        </thead>
                        <tbody id="last">
                            <tr style="background: aliceblue">


                                <td colspan="2">
                                    <div class="form-group">

                                        <textarea style="max-width: none" class="form-control" id="DiaDevolucionCaso_Observaciones" name="Observaciones" cols="" rows=""></textarea>

                                    </div>
                                </td>




                                <td class="text-center">
                                    <button type="button" id="adddiadev" class="btn btn-success btn-sm" value="Agregar" />
                                    <span class="glyphicon glyphicon-plus"></span>
                                </td>
                                <td></td>  
                                <td></td>  
                            </tr>
                            <tr id="subtitulocontenidodiasdev">
                                <td style="font-weight: bold">Fecha</td>
                                <td style="font-weight: bold">Detalles</td>
                                <td style="font-weight: bold">Usuario Modificación</td>
                                <td></td>



                            </tr>
                            @{ foreach (var dias in Model.DiasDevoluciones)
                                {
                                    <tr>
                                        <td class="listadias">
                                            <input class="inputTd inputlistadias" readonly name="lineaDiasFecha" value="@dias.Fecha.Value.ToString("dd/M/yyyy")" />
                                            @*@dias.Fecha.Value.ToShortDateString()*@
                                        </td>
                                        <td>
                                            <input  class="inputTd " readonly name="lineaDiasObs" value="@dias.Observaciones" />
                                            @*@dias.Observaciones*@
                                        </td>
                                        <td>@dias.UsuarioModificacion</td>
                                        <td>
                                            <a>

                                                <button type="button" class="btn btn-danger btn-xs" onclick="eliminarDia(this)">
                                                    <span class="glyphicon glyphicon-remove"></span>
                                                    <div class="ripple-container"></div>
                                                </button>
                                            </a>
                                        </td>  
                                    </tr>
                                }}

                        </tbody>
                    </table>
                </section>





            </div>



            <div class="row">
                <div class="col-md-3">

                    @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-default" })
                </div>

                <div class="col-md-3">
                    <input type="submit" value="Guardar" onclick="selectNoEmpty()" class="btn btn-success" />
                </div>

            </div>
        }

    </div>
</div>


@section Scripts{
    <script>
    $(document).ready(function () {
        $(".js-example-basic-single").select2({

        });
        $(".areacaso").select2({


        });
        idGetofferday = $('#IdSuscripcionEditCaso').val();
        loadCalendar();



        //oculta/muestra el campo de motivo cierre
            $("#selectestadocaso").on('change', function () {
               
                if ($(this).val()=="2") {  //IMPORTANTE: EL ID 2 ES CASO CERRADO
                    $('#trmotivocierre').attr('hidden', false);
                    $('#selectmotivocierre').prop('required', true);
                } else {
                    $('#trmotivocierre').attr('hidden', true);
                   
                    $('#selectmotivocierre').prop('required', false);
                }
                //var val = $(this).val();
                //if ($('#localidadesparticular option').filter(function () {
                //    $('#divpostalparticular').css('display', 'inherit');
                //    $('#idpostalparticular').prop('required', true);
                //    return this.value === val;        
                //}).length) {

                //    $('#divpostalparticular').css('display', 'none');
                //    $('#idpostalparticular').val("");
                //    $('#idpostalparticular').prop('required', false);
                //}
            });
       
       
       
        });
        function selectNoEmpty() {

            $("select").each(function () {
                if ($(this).val() == "") {
                    $(this).addClass("ValidationError");
                } else {
                    $(this).removeClass("ValidationError");
                }
            });
        }


    </script>
   
    <script src="~/Scripts/Casos/Create.js"></script>
}