@model IEnumerable<Vnet.Models.VnetRegistro>

@{
    ViewBag.Title = "Registro V-Net";
}
<style>
    #tbodyhistorial tr:first-child {
        font-weight: bold;
        font-family: monospace;
    }
</style>

<section>
    @Html.Partial("_SubirArchivo")
 
</section>

<section>

    <h2>Registros Visa V-Net</h2>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Nro. Orden </th>
                <th>Nro. Registro </th>
                <th>Nro. de Establecimiento </th>
                <th>Nombre Comercio</th>
                <th>Nro. de Terminal</th>
                <th>Fecha Movimiento</th>
                <th>Hora Movimiento</th>
                <th>Nro. de Tarjeta</th>
                <th>Importe</th>
                <th>Descuento</th>
                <th>Importe Desc.</th>
                <th>Descripción</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var registro in Model)
            {
                <tr>


                    <td>@registro.Id</td>
                    <td>@registro.NroRegistro</td>
                    <td>@registro.NroEstablecimiento</td>
                    <td>@registro.Comercio.Nombre</td>
                    <td>@registro.NroTerminal</td>
                    <td>@registro.FechaHoraMov.Day/@registro.FechaHoraMov.Month/@registro.FechaHoraMov.Year</td>
                    <td>@registro.FechaHoraMov.TimeOfDay</td>
                    <td>@registro.NroTarjeta</td>
                    <td>$@registro.Importe</td>
                    <td>@registro.Descuento%</td>
                    <td>$@registro.ImporteDescuento</td>
                    <td>$@registro.Descripcion</td>
                    @*Para mapear lo anterior, hay que cargar a los clientes y sus tipos de membresia juntos (eager loading)*@
                </tr>
            }
        </tbody>
    </table>




</section>



