@model SNC2017.ViewModels.SuscriptorVM

@{
    ViewBag.Title = "Nueva cuenta bancaria";
}

<div class="card">
    <div class="card-header" data-background-color="green" style="display: flex">
        <h4 class="title">Nueva cuenta bancaria</h4>
        <span class="category" style="margin-top: 4px;margin-left:10px">@ViewBag.apellidosuscriptor  @ViewBag.nombresuscriptor</span>
    </div>


    <div class="card-content">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()


            <div id="example-tabs">
                <h3>Datos Tarjeta</h3>
                <section style="overflow-y: scroll" class="col-lg-12">
                    <input class="hidden" id="IdSuscriptor" name="IdSuscriptor" value="@ViewBag.idsuscriptor" />

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group label-floating is-empty">
                            @Html.LabelFor(model => model.CBU, htmlAttributes: new { @class = "control-label" })

                            @Html.EditorFor(model => model.CBU, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CBU, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group label-floating is-empty">
                            @Html.LabelFor(model => model.NombreTitular, htmlAttributes: new { @class = "control-label" })

                            @Html.EditorFor(model => model.NombreTitular, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NombreTitular, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group label-floating is-empty">
                            @Html.LabelFor(model => model.DNITitular, htmlAttributes: new { @class = "control-label" })

                            @Html.EditorFor(model => model.DNITitular, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DNITitular, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group label-floating is-empty">
                            @Html.LabelFor(model => model.CUITTitular, htmlAttributes: new { @class = "control-label" })

                            @Html.EditorFor(model => model.CUITTitular, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CUITTitular, "", new { @class = "text-danger" })

                        </div>
                        <div class="form-group label-floating is-empty">
                            @Html.LabelFor(model => model.AliasCuenta, htmlAttributes: new { @class = "control-label" })

                            @Html.EditorFor(model => model.AliasCuenta, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.AliasCuenta, "", new { @class = "text-danger" })

                        </div>
                      
                </section>
                <h3>Domicilio titular</h3>

                <section style="overflow-y: scroll">

                    <div class="row">
                        <div class="col-lg-6">

                            <div class="form-group label-floating is-empty">
                                @Html.LabelFor(model => model.CalleSuscriptor, htmlAttributes: new { @class = "control-label " })

                                @Html.EditorFor(model => model.CalleSuscriptor, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CalleSuscriptor, "", new { @class = "text-danger" })

                            </div>

                            <div class="form-group label-floating is-empty">
                                @Html.LabelFor(model => model.AlturaSuscriptor, htmlAttributes: new { @class = "control-label " })

                                @Html.EditorFor(model => model.AlturaSuscriptor, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AlturaSuscriptor, "", new { @class = "text-danger" })

                            </div>

                            <div class="form-group label-floating is-empty">
                                @Html.LabelFor(model => model.PisoSuscriptor, htmlAttributes: new { @class = "control-label " })

                                @Html.EditorFor(model => model.PisoSuscriptor, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PisoSuscriptor, "", new { @class = "text-danger" })

                            </div>

                            <div class="form-group label-floating is-empty">
                                @Html.LabelFor(model => model.DepartamentoSuscriptor, htmlAttributes: new { @class = "control-label " })

                                @Html.EditorFor(model => model.DepartamentoSuscriptor, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DepartamentoSuscriptor, "", new { @class = "text-danger" })

                            </div>

                            <div class="form-group label-floating is-empty">
                                @Html.LabelFor(model => model.CalleLateral1Suscriptor, htmlAttributes: new { @class = "control-label " })

                                @Html.EditorFor(model => model.CalleLateral1Suscriptor, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CalleLateral1Suscriptor, "", new { @class = "text-danger" })

                            </div>

                        </div>
                        <div class="col-lg-6">
                            <div class="form-group label-floating is-empty">
                                @Html.LabelFor(model => model.CalleLateral2Suscriptor, htmlAttributes: new { @class = "control-label " })

                                @Html.EditorFor(model => model.CalleLateral2Suscriptor, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CalleLateral2Suscriptor, "", new { @class = "text-danger" })

                            </div>

                            <div class="form-group label-floating is-empty">
                                @Html.LabelFor(model => model.BarrioSuscriptor, htmlAttributes: new { @class = "control-label " })

                                @Html.EditorFor(model => model.BarrioSuscriptor, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.BarrioSuscriptor, "", new { @class = "text-danger" })

                            </div>
                            <div class="form-group is-empty" style="margin-top: 0px">
                                @Html.LabelFor(model => model.Provincia, htmlAttributes: new { @class = "control-label ", @style = "margin-top:0px" })

                                <div>
                                    <select class="form-control" id="lineprovincia" required name="IdProvincia" onchange="localidadesPorProv(this)" style="width: 90%;">
                                        <option value="" selected disabled>Seleccione...</option>
                                        @foreach (var item in ViewBag.provincias)
                                        {

                                            <option value="@item.IdProvincia">@item.Nombre</option>

                                        }
                                    </select>

                                </div>
                                @Html.ValidationMessageFor(model => model.IdProvincia, "", new { @class = "text-danger" })

                            </div>

                            <div class="form-group is-empty" style="margin-top: 0px">
                                @Html.LabelFor(model => model.Localidad, htmlAttributes: new { @class = "control-label ", @style = "margin-top:0px" })

                                <div>
                                    <select class="form-control" id="linelocalidad" required name="IdLocalidad" style="width: 90%;">
                                        <option value="" selected disabled>Seleccione una provincia</option>
                                    </select>

                                </div>
                                @Html.ValidationMessageFor(model => model.IdLocalidad, "", new { @class = "text-danger" })

                            </div>





                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group label-floating is-empty" style="margin-top: 0">
                                <label for="ObservacionesDomicilioSuscriptor" style="margin-top: 0; margin-bottom: 0">Observaciones</label>
                                <textarea class="form-control" id="ObservacionesDomicilioSuscriptor" name="ObservacionesDomicilioSuscriptor" style="max-width: 100% !important"></textarea>
                                @Html.ValidationMessageFor(model => model.ObservacionesDomicilioSuscriptor, "", new { @class = "text-danger" })

                            </div>
                        </div>
                    </div>

                </section>
            </div>



            <div class="navbar-xs navbar-inverse navbar-fixed-bottom" style="background: none; border: none; padding-bottom: 0px;padding-left: 260px">

                <div style="width: 100%;display: inline-flex">
                    <div style="width: 30%">
                        <div class="container text-left" style="height: 40px">

                            @Html.ActionLink("Volver", "Details", "Suscriptores", new { id = ViewBag.idsuscriptor }, new { @class = "btn btn-sm btn-default" })

                        </div>
                    </div>
                    <div id="ctaguardar" style="width: 40%;display: none"><input type="submit" value="Guardar" class="btn btn-success" />    </div>
                    <div style="width: 30%"></div>

                </div>






            </div>
        }

    </div>
</div>
@Html.Hidden("localidadesProv", Url.Action("LocalidadesProv", "Suscriptores"))

@section Scripts {
    <script src="~/Scripts/localidadesPorProv.js"></script>
    <script>
        $(document).ready(function () {
            $("#example-tabs-t-0").click(function () { $("#ctaguardar").hide() });
            $("#example-tabs-t-1").click(function () { $("#ctaguardar").show() });
        });

    </script>
}
