<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8"/>
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/Layout/img/apple-icon.png"/>
    <link rel="icon" type="image/png" href="~/Content/Layout/img/favicon.png"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>Soy Norte Club</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <meta name="viewport" content="width=device-width"/>

    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons" rel="stylesheet" type="text/css">
    @Styles.Render("~/Styles/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .activeforce {
            background-color: #4caf50 !important;
            border-color: #4caf50 !important;color: white !important;
        }
        .navbartop {
            padding-top: 0px;padding-bottom: 0px;
        }

        .sombrabtncreate {
            box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.75) !important;
        }
        html {
            background: gainsboro;
        }


        /*ESTILOS MENU Y SUBMENU NAVBAR LEFT*/

        /* reset our lists to remove bullet points and padding */
        .mainmenu, .submenu {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        /* make ALL links (main and submenu) have padding and background color */
        /*.mainmenu a {
  display: block;
  background-color: #CCC;
  text-decoration: none;
  padding: 10px;
  color: #000;
}*/

        /* add hover behaviour */
        .mainmenu a:hover {
            background-color: #C5C5C5;
        }


        /* when hovering over a .mainmenu item,
  display the submenu inside it.
  we're changing the submenu's max-height from 0 to 200px;
*/

        /*.mainmenu li:hover .submenu {
            display: block;
            max-height: 200px;
        }*/

        /*
  we now overwrite the background-color for .submenu links only.
  CSS reads down the page, so code at the bottom will overwrite the code at the top.
*/

        .submenu a {
            background-color: #999;
        }

        /* hover behaviour for links inside .submenu */
        .submenu a:hover {
            background-color: #666;
        }

        /* this is the initial state of all submenus.
  we set it to max-height: 0, and hide the overflowed content.
*/
        .submenu {
            overflow: hidden;
            max-height: 0;
            -webkit-transition: all 0.5s ease-out;
        }

        .submenu li.active a p {
            background: darkseagreen !important;
            width: auto;
               
        }

        .subitem {
            padding-left: 30%;
            margin: 0;
        }
        a.subitem.active  p {
             color: green!important
        }

        .sinmargen {
            margin: 0px !important
        }

        li a i {
            color: #737373 !important
        }
        li a p {
            /*color: #737373 !important;*/
            font-weight: 500

        }
        a.active i {
            color:white!important
        }
        /*li.active p {
            color: white!important
        }*/
       ul.submenu li.active a.active p {
            color: white !important
        }
        ul.submenu {
            display: none;
        }
        
/*.off-canvas-sidebar .nav li.sinmargen.active>a {
            color: green!important
        }*/


    </style>
</head>
<body id="bodyLayout" style="padding-top: 0px">

<div class="sidebar" data-color="green" data-image="/SoyNorteClub/Content/Layout/img/background-navbar.png">
    <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

    Tip 2: you can also add an image using data-image tag
    -->
    <div class="logo text-center navbarfondo">

        <a href="@Url.Action("Index", "Home")"><img src="~/Content/Layout/img/logonortesinfondo.png" style="width: 200px;"></a>

    </div>
    <div class="sidebar-wrapper">
        <nav class="navigation">
            <ul class="nav mainmenu">
                <li id="Home">
                    <a href="@Url.Action("Index", "Home")">
                        <i class="material-icons">dashboard</i>
                        <p class="">Inicio</p>
                    </a>
                </li>
                @if (User.IsInRole("Distribuidor"))
                {
                    <li id="Distribuidores" class="mainmenu">
                        <a>
                            <i class="material-icons">local_shipping</i>
                            <p class="">Logística</p>
                        </a>
                        <ul class="submenu">



                            <li>
                                <a class="sinmargen" href="@Url.Action("Index", "HojaDeRutas")">
                                    <p class="text-left subitem">Hojas de Ruta</p>
                                </a>

                            </li>
                            <li>
                                <a class="sinmargen" href="@Url.Action("Index", "Canillitas")">
                                    <p class="text-left subitem">Canillitas</p>
                                </a>

                            </li>
                            <li>
                                <a class="sinmargen" href="@Url.Action("ArchivoServinor", "HojaDeRutas")">
                                    <p class="text-left subitem">Archivo Servinor</p>
                                </a>

                            </li>


                        </ul>
                    </li>
                    <li id="Casos" class="mainmenu">
                        <a>
                            <i class="material-icons">location_on</i>
                            <p class="">Casos</p>
                        </a>
                        <ul class="submenu">
                            <li id="IndexCasos">
                                <a class="sinmargen" href="@Url.Action("Index", "Casos")">
                                    <p class="text-left subitem">Listado</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                }
                else
                {
                    <li class="mainmenu" id="Suscripciones">
                        <a>
                            <i class="material-icons">person</i>
                            <p>Suscripciones</p>
                        </a>
                        <ul class="submenu" style="display: none">
                            <li id="SuscTodas">
                                <a class="sinmargen" href="@Url.Action("Index", "Suscripciones")">
                                    <p class="text-left subitem">Todas</p>
                                </a>
                            </li>
                            <li id="SuscNormales">
                                <a class="sinmargen" href="@Url.Action("ListadoNormal", "Suscripciones")">
                                    <p class="text-left subitem">Normales</p>
                                </a>
                            </li>
                            <li id="SuscCorporativas">
                                <a class="sinmargen" href="@Url.Action("ListadoCoorporativa", "Suscripciones")">
                                    <p class="text-left subitem">Corporativas</p>
                                </a>
                            </li>
                            <li id="SuscCortesia">
                                <a class="sinmargen" href="@Url.Action("ListadoCortesia", "Suscripciones")">
                                    <p class="text-left subitem">Cortesía</p>
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li id="Suscriptores">
                        <a href="@Url.Action("Index", "Suscriptores")">
                            <i class="material-icons">content_paste</i>
                            <p class="">Suscriptores</p>
                        </a>
                    </li>
                    <li id="TarjetasClub" class="mainmenu">
                        <a>
                            <i class="material-icons">featured_play_list</i>
                            <p class="">Tarjetas Club</p>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a class="sinmargen" href="@Url.Action("Index", "TarjetasClub")">
                                    <p class="text-left subitem">Listado</p>
                                </a>
                            </li>
                            <li>
                                <a class="sinmargen" href="@Url.Action("Index", "ArchivoImpresionTCs")">
                                    <p class="text-left subitem">Impresión Tarjetas</p>
                                </a>
                            </li>
                            @if (User.IsInRole("Administrador") | User.IsInRole("Comercio"))
                            {
                                <li>
                                    <a class="sinmargen" href="@Url.Action("BuscarTarjeta", "TarjetasClub")">
                                        <p class="text-left subitem">Búsqueda</p>
                                    </a>
                                </li>
                            }

                        </ul>
                    </li>
                    <li id="Distribuidores" class="mainmenu">
                        <a>
                            <i class="material-icons">local_shipping</i>
                            <p class="">Logística</p>
                        </a>
                        <ul class="submenu">

                          
                                <li>
                                    <a class="sinmargen" href="@Url.Action("Index", "Distribuidores")">
                                        <p class="text-left subitem">Distribuidores</p>
                                    </a>
                                </li>
                           
                                <li>
                                    <a class="sinmargen" href="@Url.Action("Index", "HojaDeRutas")">
                                        <p class="text-left subitem">Hojas de Ruta</p>
                                    </a>

                                </li>
                                <li>
                                    <a class="sinmargen" href="@Url.Action("Index", "Canillitas")">
                                        <p class="text-left subitem">Canillitas</p>
                                    </a>

                                </li>
                                <li>
                                    <a class="sinmargen" href="@Url.Action("ArchivoServinor", "HojaDeRutas")">
                                        <p class="text-left subitem">Archivo Servinor</p>
                                    </a>

                                </li>
                            

                        </ul>
                    </li>
                    <li id="Comercios" class="mainmenu">
                        <a>
                            <i class="material-icons">local_grocery_store</i>
                            <p class="">Comercios</p>
                        </a>
                        <ul class="submenu">
                            <li>
                                <a class="sinmargen" href="@Url.Action("Index", "Comercios")">
                                    <p class="text-left subitem">Listado</p>
                                </a>
                            </li>
                            <li>
                                <a class="sinmargen" href="@Url.Action("Index", "Ventas")">
                                    <p class="text-left subitem">Ventas</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li id="Ofertas">
                        <a href="@Url.Action("Index", "Ofertas")">
                            <i class="material-icons">library_books</i>
                            <p class="">Ofertas</p>
                        </a>

                    </li>
                    <li id="Productos">
                        <a href="@Url.Action("Index", "Productos")">
                            <i class="material-icons">bubble_chart</i>
                            <p class="">Productos</p>
                        </a>
                    </li>
                    <li id="Casos" class="mainmenu">
                        <a>
                            <i class="material-icons">location_on</i>
                            <p class="">Casos</p>
                        </a>
                        <ul class="submenu">
                            <li id="IndexCasos">
                                <a class="sinmargen" href="@Url.Action("Index", "Casos")">
                                    <p class="text-left subitem">Listado</p>
                                </a>
                            </li>
                            <li id="ConfiguracionCasos">
                                <a class="sinmargen" href="@Url.Action("ConfiguracionCasos", "Casos")">
                                    <p class="text-left subitem">Configuración</p>
                                </a>
                            </li>

                        </ul>
                    </li>
                }

            </ul>
        </nav>
    </div>

</div>
<div class="main-panel">
    <nav class="navbar navbar-transparent navbar-absolute navbartop">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" style="margin-top: 1.3%;
                                                                                                                                                             margin-right: 2%;">
                <ul class="nav navbar-nav navbar-right">
                    @Html.Partial("_LoginPartial")
                    @*<li>
            <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                <i class="material-icons">dashboard</i>
                <p class="hidden-lg hidden-md">Dashboard</p>
            </a>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="material-icons">notifications</i>
                <span class="notification">5</span>
                <p class="hidden-lg hidden-md">Notifications</p>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="#">Mike John responded to your email</a>
                </li>
                <li>
                    <a href="#">You have 5 new tasks</a>
                </li>
                <li>
                    <a href="#">You're now friend with Andrew</a>
                </li>
                <li>
                    <a href="#">Another Notification</a>
                </li>
                <li>
                    <a href="#">Another One</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#pablo" class="dropdown-toggle" data-toggle="dropdown">
                <i class="material-icons">person</i>
                <p class="hidden-lg hidden-md">Profile</p>
            </a>
        </li>*@
                </ul>

            </div>
        </div>
    </nav>

    <div class="container" style="padding-top: 0px">
        @RenderBody()
      
    </div>

</div>
<input value="@TempData["ok"]" id="ok" class="hidden"/>
<div class="modalLoadingGif"><!-- gif ajax --></div>
</body>
<!-- Core JS Files -->


</html>

@Scripts.Render("~/js")
@RenderSection("Scripts", false)

<script type="text/javascript">


    //hardcodeada para activar los enlaces y dropdowns en el navbar
    $(document).ready(function() {
        $('li.active').removeClass('active');
        var pathname = location.pathname.split("/")[1]; //path para desarrollo
        var pathnamesub2 = location.pathname.split("/")[2]; //path para testing/produccion
        if (pathnamesub2 == "HojaDeRutas" || pathnamesub2 == "Canillitas") {
            pathnamesub2 = "Distribuidores";
        }
        $('#' + pathnamesub2).addClass('active');
       
        $('li.mainmenu').click(function () {
            
            var thissubmenu = (($(this)).children('ul.submenu'));
      
            if ((thissubmenu.css('display') != 'block'))
               {
                
                thissubmenu.css('display', 'block');
                thissubmenu.css('max-height', '200px');
               
               
            } else {
                thissubmenu.css('display', 'none');
                thissubmenu.css('max-height', '0px');
                
            }
          
        });
        
        $('li.active ul.submenu').css('display', 'block');     
        $('li.active ul.submenu').css('max-height', '200px');     

      
          
       
    });

   
</script>
