@model SNC2017.Models.HistorialPrecioOferta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>HistorialPrecioOferta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Oferta.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Oferta.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaModificacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdHistorialPrecioOferta }) |
    @Html.ActionLink("Back to List", "Index")
</p>
