@using Microsoft.Ajax.Utilities
@model SNC2017.Models.Oferta

@{
    ViewBag.Title = "Nueva Oferta";
}

<style>

/*fin estilos genearales*/
    td .form-group{margin-top: 0px!important}
    td{padding: 0px!important}
</style>
<div class="card">
    <div class="card-header" data-background-color="green" style="display: flex">
        <h4 class="title">Oferta</h4>
        <span class="category" style="margin-top: 4px;margin-left:10px">Nueva</span>
    </div>

    <div class="card-content">
        @using (Html.BeginForm("Create", "Ofertas", null, FormMethod.Post, new { id = "createOffer" }))        {
            @Html.AntiForgeryToken()


            <div id="example-tabs">
                <h3>Datos Generales</h3>
                <section style="overflow-y: scroll">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                   
                    <div class="form-group" style="display: flex">
                        @Html.LabelFor(model => model.Editorial, "Editorial", htmlAttributes: new {@class = "control-label ", @style = "font-size:inherit" })
                    
                        <div style="margin-left: 20px">
                            <select class="form-control" id="Editorial" name="Editorial" style="width: auto;font-weight: bold" >
                                <option selected="selected" value="1">Chaco</option>
                                <option value="2">Corrientes</option>
                            </select>
                  
                        </div>
            
                       

                    </div>
                    <div class="form-group" style="display: flex">
                        @Html.LabelFor(model => model.TipoOferta, "Tipo", htmlAttributes: new {@class = "control-label ", @style = "font-size:inherit" })
                    
                        <div style="margin-left: 20px">
                            <select class="form-control" id="TipoOferta" name="TipoOFerta" style="width: auto;font-weight: bold" >
                                <option value="1">Estándar</option>
                                <option value="2">Coorporativa</option>
                                @if (User.IsInRole("Administrador"))
                                {
                                    <option value="4">Cortesia</option>};
                            </select>
                  
                        </div>
            
                       

                    </div>
                    <div class="form-group label-floating">
                        @Html.Label("Código (*)", htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.Codigo, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.Codigo, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group label-floating ">
                        @Html.Label("Nombre (*)", htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.Nombre, new {htmlAttributes = new {@class = "form-control", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group label-floating">
                        @Html.Label("Código Servinor (*)", htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.CodigoProductoServinor, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.CodigoProductoServinor, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group label-floating ">
                        @Html.Label("Nombre Servinor(*)", htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.NombreProductoServinor, new {htmlAttributes = new {@class = "form-control", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.NombreProductoServinor, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group label-floating ">
                        @Html.Label("Cantidad días (sin domingo) (*)", htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.CantDias, new {htmlAttributes = new {@class = "form-control", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.CantDias, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group label-floating ">
                        @Html.Label("Precio (*)", htmlAttributes: new { @class = "control-label " })
                      
                        @Html.EditorFor(model => model.Precio, new {htmlAttributes = new {@class = "form-control", @required = "required" } })
                        @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })
                      

                    </div>
                    <div class="form-group label-floating ">
                        @Html.Label("Tarjetas adicionales (*)", htmlAttributes: new { @class = "control-label " })
                        @Html.EditorFor(model => model.CantTarjetasAdicionales, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CantTarjetasAdicionales, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group label-floating ">
                        @Html.Label("Fecha inicio (*)", htmlAttributes: new { @class = "control-label " })
                        <input class="form-control" required="required" type="text" name="FechaInicio" onfocus="(this.type = 'date')" onfocusout="(this.type='text')"/>
                        @Html.ValidationMessageFor(model => model.FechaInicio, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group label-floating ">
                        @Html.LabelFor(model => model.FechaFin, htmlAttributes: new { @class = "control-label " })
                        <input class="form-control" type="text" name="FechaFin" onfocus="(this.type = 'date')" onfocusout="(this.type='text')" />
                            @Html.ValidationMessageFor(model => model.FechaFin, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group" style="display: flex">
                        @Html.LabelFor(model => model.EstadoOferta, "Estado", htmlAttributes: new {@class = "control-label ", @style = "font-size:inherit" })
                    
                            <div style="margin-left: 20px">
                                <select class="form-control" id="IdEstadoOferta" name="IdEstadoOferta" style="width: auto;font-weight: bold" >
                                    @foreach (var item in ViewBag.VbEstadosOfertas)
                                    {
                                        <option value="@item.IdEstadoOferta">@item.Descripcion</option>
                                    }
                                </select>
                  
                            </div>
            
                       

                    </div>

                    <div class="form-group label-floating ">
                        @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label " })
          
                        @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
           
                    </div>

                    
                 
                </section>
                
               
                
                <h3>Productos</h3>
                <section>
                    <table class="table table-condensed" style="width: 100%">
                        <thead class="text-primary" >
                        <tr class="text-center">
                            <th class="text-left" style="width: 25%;font-weight: bold">
                                Producto
                            </th>
                            <th class="text-left" style="width: 30%;font-weight: bold">
                                Descripción
                            </th>
                            <th class="text-center" style="width: 10%;font-weight: bold">
                                Copias
                            </th>
                            <th class="text-center" style="width: 15%;font-weight: bold">
                                Código
                            </th>
                            <th class="text-center" style="width: 10%;font-weight: bold">
                                Precio
                            </th>
                            <th class="text-center" style="width: 10%;font-weight: bold"></th>
                        </tr>
                        </thead>
                        <tbody id="last">
                        <tr style="background: aliceblue">
                            <td><select class="form-control" id="linedescription" style="width: 90%;font-weight: bold">
                                <option value="" selected disabled>Seleccione...</option>
                                @foreach (var item in ViewBag.Products)
                                {

                                    <option value="@item.IdProducto*@item.Codigo*@item.Nombre*@item.Descripcion*@item.Monto">@item.Nombre</option>

                                }
                            </select></td>
                            <td id="tddescripcion" class="text-left" style="font-weight: bold">-</td>
                            <td id="tdcopias" class="text-center" style="font-weight: bold">-</td>
                            <td id="tdcodigo" class="text-center"  style="font-weight: bold">-</td>
                            <td id="tdprecio" class="text-center"  style="font-weight: bold">-</td>
                            <td class="text-center">
                                <button type="button" id="add" class="btn btn-success btn-sm" value="Agregar"/>
                                <span class="glyphicon glyphicon-plus"></span>
                            </td>
                        </tr>
                            @if(ViewBag.prodsacum != null){
                                foreach (var id in ViewBag.prodsacum)
                                {
                                    <tr>
                                <td class='text-left'>@id.Producto.Nombre<input class='hidden idproducts' id='idproducts' name='idproducts' value="@id.Producto.IdProducto"></td>
                                <td class='text-left'>@id.Producto.Descripcion</td>
                                <td class='text-center'><input class='copias form-control text-center' id='copias' name='copias' value="@id.Copias"></td>
                                <td class='text-center'>@id.Producto.Codigo</td>
                                <td class='text-center'>$ @id.Producto.Monto</td>
                                <td class="text-center">
                                    <button type="button" id="add" class="btn btn-success btn-sm" value="Agregar"/>
                                    <span class="glyphicon glyphicon-plus"></span>
                                </td>
                                    </tr>

                            }}
                        </tbody>
                    </table>
                    <div style="display: none"><span class="text-danger customValidation" id="errorproducts"></span></div>




                </section>

            </div>



            <div style="width: 100%;display: flex">
                <div style="width: 30%">

                    @Html.ActionLink("Ir al listado", "Index", null, new { @class = "btn btn-sm btn-default" })
                </div>

                <div class="text-left" style="width: 40%">
                    <input type="submit" value="Guardar" id="guardarOferta" class="btn btn-success"/>
                </div>
                <div style="width: 30%"></div>
            </div>
        }

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/Ofertas/Create.js"></script>
    

}
