@model IEnumerable<SNC2017.Models.Producto>

@{
    ViewBag.Title = "Productos";
}

<div class="card">
    <div class="card-header" data-background-color="green" style="display: flex">
        <h4 class="title">Productos</h4>
        <a href=@Url.Action("Create","Productos") class="btn btn-success btn-sm sombrabtncreate btnadd">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>

    <div class="card-content">
            <div id="example-tabs">
                <h3>Todos</h3>
                <section>
                    <table class="table table-condensed table-hover" style="width: 100%">
                        <thead class="text-primary">
                            <tr class="text-center">
                                <th class="text-center" style="font-weight: bold">
                                    Cód.
                                </th>
                                <th class="text-left" style="font-weight: bold">
                                    Nombre
                                </th>
                                <th class="text-left" style="font-weight: bold">
                                    Descripción
                                </th>

                                <th class="text-center" style="font-weight: bold">
                                    Monto
                                </th>
                               
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="showhim">
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.Codigo)
                                    </td>
                                    <td class="text-left">
                                        @Html.DisplayFor(modelItem => item.Nombre)
                                    </td>
                                    <td class="text-left">
                                        @Html.DisplayFor(modelItem => item.Descripcion)
                                     </td>
                                    <td class="text-center">
                                        @Html.DisplayFor(modelItem => item.Monto)
                                    </td>
                                  
                                    <td class="text-center " style="font-size: large">
                                        
                                        <div class="showme"><a href="@Url.Action("Edit", "Productos", new {id = item.IdProducto})" title="Editar" data-placement="left" data-toggle="tooltip"><span class="glyphicon glyphicon-edit"></span></a>&nbsp;
<a href="@Url.Action("Details", "Productos", new {id = item.IdProducto})" title="Detalles" data-placement="left" data-toggle="tooltip"><span class="glyphicon glyphicon-align-justify"></span></a></div>
                                       


                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>




                </section>

            </div>




        

    </div>
</div>


@section Scripts
{
    
    }
