@model IEnumerable<SNC2017.Models.Canillita>

@{
    ViewBag.Title = "Index";
}



<div class="card">
    <div class="card-header" data-background-color="green" style="display: flex">
        <h4 class="title">Canillitas</h4>
        <a href=@Url.Action("Create","Canillitas") class="btn btn-success btn-sm sombrabtncreate btnadd">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>

    <div class="card-content">
        <div id="example-tabs">
            <h3>Todos</h3>
            <section>
                <table class="datatablebase table table-condensed table-hover" id="table" style="width: 100%">
                    <thead class="text-primary">
                        <tr class="text-center">
                            <th class="text-center" style="font-weight: bold">
                                Nro.
                            </th>
                            <th class="text-left" style="font-weight: bold">
                                Apellido y nombre
                            </th>  
                            <th class="text-left" style="font-weight: bold">
                                Tel
                            </th>
                            <th class="text-center" style="font-weight: bold">
                                Distribuidor
                            </th>
                            <th class="text-center" style="font-weight: bold">
                                Activo
                            </th>


                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="showhim">
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.NroCanillita)
                                </td>
                                <td class="text-left">
                                    @Html.DisplayFor(modelItem => item.Apellido) @Html.DisplayFor(modelItem => item.Nombre)
                                </td>  
                                <td class="text-left">
                                    @Html.DisplayFor(modelItem => item.NroTel)
                                </td>
                                <td class="text-center">
                               
                                    @Html.DisplayFor(modelItem => item.Distribuidor.Nombre)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.Activo)
                                </td>
                              

                                <td class="text-center " style="font-size: large">

                                    <div class="showme">
                                        <a href="@Url.Action("Details", "Canillitas", new {id = item.IdCanillita})" data-placement="left" data-toggle="tooltip" title="Detalles"><span class="glyphicon glyphicon-align-justify"></span></a>&nbsp;

                                        <a href="@Url.Action("Edit", "Canillitas", new {id = item.IdCanillita})" title="Editar" data-placement="left" data-toggle="tooltip"><span class="glyphicon glyphicon-edit"></span></a>&nbsp;
                                        @*<a href="@Url.Action("Details", "Productos", new {id = item.IdProducto})" title="Detalles producto"><span class="glyphicon glyphicon-align-justify"></span></a>*@
                                    </div>



                                </td>
                            </tr>
                        }
                    </tbody>
                </table>




            </section>

        </div>






    </div>
</div>

